@import url("../shared/global.css");

/* Dashboard component styles */
@import url("components/order-hero.css");
@import url("components/tasks.css");
@import url("components/best-sellers.css");
@import url("components/news-featured.css");
@import url("components/news-list.css");

/* Dashboard layout */
body .main-container main {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing);
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: var(--spacing);
    align-content: start;
    width: 100%;
}

.top-left,
.top-right {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

@container (max-width: 800px) {
    .top-left,
    .top-right {
        grid-column: 1 / -1;
    }
}
