<div class="card best-sellers">
    <h2>Mest bestilte</h2>
    <ul class="best-sellers__list">
        <li>
            <img class="best-sellers__img" src="images/headphones.png" alt="Hodetelefoner" />
            <div class="best-sellers__info">
                <span class="best-sellers__name">
                    Premium trådløse hodetelefoner
                </span>
                <span class="best-sellers__sold">1 234 kjøpt</span>
            </div>
            <div class="best-sellers__stats">
                <span class="best-sellers__price">2 990 kr</span>
                <span class="best-sellers__change up">
                    &#9650; 12%
                </span>
            </div>
        </li>
        <li>
            <img class="best-sellers__img" src="images/clock.png" alt="Smartklokke" />
            <div class="best-sellers__info">
                <span class="best-sellers__name">
                    Smart treningsklokke
                </span>
                <span class="best-sellers__sold">987 kjøpt</span>
            </div>
            <div class="best-sellers__stats">
                <span class="best-sellers__price">1 990 kr</span>
                <span class="best-sellers__change up">
                    &#9650; 8%
                </span>
            </div>
        </li>
        <li>
            <img class="best-sellers__img" src="images/laptop.png" alt="Laptop" />
            <div class="best-sellers__info">
                <span class="best-sellers__name">
                    Ultra-tynn laptop Pro
                </span>
                <span class="best-sellers__sold">756 kjøpt</span>
            </div>
            <div class="best-sellers__stats">
                <span class="best-sellers__price">12 990 kr</span>
                <span class="best-sellers__change up">
                    &#9650; 15%
                </span>
            </div>
        </li>
    </ul>
</div>
