<div class="card news-list">
    <div class="news-list__header">
        <h2>Siste nyheter</h2>
        <a href="#" class="news-list__all-btn"> Alle nyheter </a>
    </div>
    <ul>
        <li>
            <img src="https://picsum.photos/seed/news2/100/100" alt="Nyheter" />
            <div class="news-list__info">
                <h3>Q1 budsjettgjennomgang</h3>
                <p>3. feb 2026</p>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/seed/news3/100/100" alt="Nyheter" />
            <div class="news-list__info">
                <h3>Leverandørportal integrering</h3>
                <p>28. jan 2026</p>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/seed/news4/100/100" alt="Nyheter" />
            <div class="news-list__info">
                <h3>Årlige kontraktfornyelser</h3>
                <p>22. jan 2026</p>
            </div>
        </li>
    </ul>
</div>
