<div class="card your-tasks">
    <h2>Dine oppgaver</h2>

    <ul class="tasks__list">
        <li class="tasks__item tasks__item--approval">
            <a href="#" class="tasks__link">
                <div class="tasks__icon">
                    <span class="material-symbols-outlined">thumb_up</span>
                </div>
                <div class="tasks__content">
                    <span class="tasks__title">REK-000423</span>
                    <p class="tasks__desc">Forespurt av Erik Hansen</p>
                </div>
                <div class="tasks__right">
                    <span class="tasks__date">10.06.2024</span>
                    <span class="tasks__type">Godkjenning</span>
                </div>
            </a>
        </li>
        <li class="tasks__item tasks__item--requisition">
            <a href="#" class="tasks__link">
                <div class="tasks__icon">
                    <span class="material-symbols-outlined">description</span>
                </div>
                <div class="tasks__content">
                    <span class="tasks__title">REK-000519</span>
                    <p class="tasks__desc">Bestilling 29.10.2025</p>
                </div>
                <div class="tasks__right">
                    <span class="tasks__date">2 dager siden</span>
                    <span class="tasks__type">Rekvisisjon</span>
                </div>
            </a>
        </li>
        <li class="tasks__item tasks__item--approval">
            <a href="#" class="tasks__link">
                <div class="tasks__icon">
                    <span class="material-symbols-outlined">thumb_up</span>
                </div>
                <div class="tasks__content">
                    <span class="tasks__title">REK-000503</span>
                    <p class="tasks__desc">Forespurt av Kari Johansen</p>
                </div>
                <div class="tasks__right">
                    <span class="tasks__date">04.03.2025</span>
                    <span class="tasks__type">Godkjenning</span>
                </div>
            </a>
        </li>
        <li class="tasks__item tasks__item--delivery">
            <a href="#" class="tasks__link">
                <div class="tasks__icon">
                    <span class="material-symbols-outlined">local_shipping</span>
                </div>
                <div class="tasks__content">
                    <span class="tasks__title">PO-000224</span>
                    <p class="tasks__desc">Leveringsdato 04.03.2024 passert</p>
                </div>
                <div class="tasks__right">
                    <span class="tasks__date">26.02.2024</span>
                    <span class="tasks__type">Varemottak</span>
                </div>
            </a>
        </li>
        <li class="tasks__item tasks__item--requisition">
            <a href="#" class="tasks__link">
                <div class="tasks__icon">
                    <span class="material-symbols-outlined">description</span>
                </div>
                <div class="tasks__content">
                    <span class="tasks__title">REK-000518</span>
                    <p class="tasks__desc">Sendt til godkjenner Lars Pedersen</p>
                </div>
                <div class="tasks__right">
                    <span class="tasks__date">3 mnd siden</span>
                    <span class="tasks__type">Rekvisisjon</span>
                </div>
            </a>
        </li>
        <li class="tasks__item tasks__item--delivery">
            <a href="#" class="tasks__link">
                <div class="tasks__icon">
                    <span class="material-symbols-outlined">local_shipping</span>
                </div>
                <div class="tasks__content">
                    <span class="tasks__title">PO-000226</span>
                    <p class="tasks__desc">Leveringsdato 04.03.2024 passert</p>
                </div>
                <div class="tasks__right">
                    <span class="tasks__date">26.02.2024</span>
                    <span class="tasks__type">Varemottak</span>
                </div>
            </a>
        </li>
    </ul>
</div>
