<nav class="main-nav">
    <div class="top">
        <a href="../dashboard/" class="active">
            <span class="material-symbols-outlined">home</span>
            <span class="nav__label">Hjem</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">thumb_up</span>
            <span class="nav__label">Til godkjenning</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">newspaper</span>
            <span class="nav__label">Nyheter</span>
        </a>

        <h4>Bestill</h4>
        <a href="../order/">
            <span class="material-symbols-outlined">shopping_cart</span>
            <span class="nav__label">Bestill</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">handshake</span>
            <span class="nav__label">Avtaler</span>
        </a>

        <h4>Ordrebehandling</h4>
        <a href="#">
            <span class="material-symbols-outlined">person_raised_hand</span>
            <span class="nav__label">Behovsmeldinger</span>
        </a>
        <a href="../requisitions/">
            <span class="material-symbols-outlined">description</span>
            <span class="nav__label">Rekvisjoner</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">inventory_2</span>
            <span class="nav__label">Ordrer</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">local_shipping</span>
            <span class="nav__label">Varemottak</span>
        </a>

        <h4>Lister</h4>
        <a href="#">
            <span class="material-symbols-outlined">checklist</span>
            <span class="nav__label">Handelister</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">list_alt</span>
            <span class="nav__label">Varetellingslister</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">tag</span>
            <span class="nav__label">Varetellinger</span>
        </a>

        <h4>Rapporter</h4>
        <a href="#">
            <span class="material-symbols-outlined">bar_chart</span>
            <span class="nav__label">Statistikk</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">grid_on</span>
            <span class="nav__label">Excel-rapporter</span>
        </a>
    </div>

    <div class="bottom">
        <a href="#" class="admin-link">
            <span class="material-symbols-outlined">settings</span>
            <span class="nav__label">Administrasjon</span>
        </a>
    </div>
</nav>
